@using Eventflow.ViewModels
@model CalendarPageViewModel

<div id="calendarWrapper">
    @await Component.InvokeAsync("Calendar", new {
        calendar = Model.Calendar
    })

    @await Component.InvokeAsync("CalendarNavigation", new {
        navigation = Model.Navigation
    })
</div>
