<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - EventFlow</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()

    <footer>
        &copy; @DateTime.Now.Year - EventFlow. All rights reserved.
    </footer>
</body>
</html>
