@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Register";
}

<!-- Full vertical & horizontal centering -->
<div class="container d-flex flex-column justify-content-center align-items-center text-center w-100">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="mb-4">Register</h2>

        <form method="post">
            <div class="d-flex w-100 gap-1 justify-content-center mb-2">
                <div class="mb-3 text-start">
                <label class="form-label">Firtname</label>
                <input type="text" name="firstname" placeholder="Enter firstname" class="form-control" required />
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Lastname</label>
                    <input type="text" name="lastname" placeholder="Enter lastname" class="form-control" required />
                </div>
            </div>           
            <div class="mb-3 text-start">
                <label class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter username" class="form-control" required />
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Email</label>
                <input type="email" name="email" placeholder="Enter email" class="form-control" required />
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter password" class="form-control" required />
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Confirm Password</label>
                <input type="password" name="confirmPassword" placeholder="Confirm password" class="form-control" required />
            </div>

            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                    <div class="text-danger">@Html.ValidationSummary()</div>
            }
        </form>

        <p class="mt-3">Already have an account? 
            <a href="@Url.Action("Login", "Account")">Login here</a>
        </p>
    </div>
</div>
