@using Eventflow.ViewModels;
@model LoginViewModel

@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Login";
}

<div class="container d-flex flex-column justify-content-center align-items-center text-center w-100">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="mb-4">Login</h2>

        @await Component.InvokeAsync("LoginForm", Model)

    </div>
</div>