@using Eventflow.ViewModels;
@using Eventflow.ViewModels.Account.Form
@model RegisterViewModel

@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Register";
}

<div class="container d-flex flex-column justify-content-center align-items-center text-center w-100">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="mb-4">Register</h2>

        @await Component.InvokeAsync("RegisterForm", Model)
    </div>
</div>
