@using Eventflow.Domain.Models.ViewModels
@model CalendarPageViewModel

@{
    Layout = "~/Views/Shared/_CalendarLayout.cshtml";

    var date = (Model?.Navigation != null)
                ? new DateTime(Model.Navigation.CurrentYear, Model.Navigation.CurrentMonth, 1)
                : (DateTime?)null;

    ViewData["Title"] = date != null
                    ? $"Calendar - {date:MMMM yyyy}"
                    : "Calendar";
}

<div class="w-100" style="max-width: 1100px;">
    <h2 class="text-center mb-4">
        Your Calendar - @(date?.ToString("MMMM yyyy") ?? "Unknown")
    </h2>

    @await Component.InvokeAsync("Calendar", new
        {
            calendar = Model!.Calendar
        })

    @await Component.InvokeAsync("CalendarNavigation", new
        {
            navigation = Model!.Navigation
        })
</div>

@section Scripts {
    <script src="~/js/calendar.js" asp-append-version="true"></script>
    <script src="~/js/event_modal.js" asp-append-version="true"></script>
    <script src="~/js/invite_modal.js" asp-append-version="true"></script>
}