@using Eventflow.Domain.Models.ViewModels
@model CalendarPageViewModel

@{
    Layout = "~/Views/Shared/_CalendarLayout.cshtml";
}

<input type="hidden" id="calendarView" value="national" />

<div class="w-100" style="max-width: 1100px;">
    <div id="calendarOuterWrapper">
        @await Html.PartialAsync("~/Views/Shared/Partials/Calendar/_CalendarWrapper.cshtml", new CalendarComponentViewModel
           {
               Calendar = Model.Calendar,
               Navigation = Model.Navigation
           })
    </div>
</div>



