@model Eventflow.Domain.Models.ViewModels.CalendarPageViewModel

@{
    Layout = "~/Views/Shared/_CalendarLayout.cshtml";
    ViewData["Title"] = "Calendar";
}

<div class="w-100" style="max-width: 1100px;">
    <h2 class="text-center mb-4">Your Calendar - @DateTime.Now.ToString("MMMM yyyy")</h2>
    @await Html.PartialAsync("Partial/_Calendar", Model.Calendar)
</div>

