@using Eventflow.Domain.Models.Common
@using Eventflow.Domain.Models.Models
@using Eventflow.Domain.Models.ViewModels
@model CreatePersonalEventViewModel

<form asp-action="@(Model.Id.HasValue ? "Edit" : "Create")" method="post">
    @Html.AntiForgeryToken()

    @await Component.InvokeAsync("FormInput", new FormInputModel
    {
        Label = "Title",
        Name = nameof(Model.Title),
        Type = "text",
        Placeholder = "Enter event title",
        Value = Model.Title
    })

    @await Component.InvokeAsync("CreatePersonalEventTextarea", new CreatePersonalEventTextareaModel
    {
        Label = "Description",
        Name = nameof(Model.Description),
        Placeholder = "Enter description*",
        Value = Model.Description
    })

    @await Component.InvokeAsync("FormInput", new FormInputModel
    {
        Label = "Date",
        Name = nameof(Model.Date),
        Type = "date",
        Value = Model.Date.ToString("yyyy-MM-dd")
    })

    @await Component.InvokeAsync("Dropdown", new DropdownViewModel
    {
        Label = "Category",
        Name = nameof(Model.CategoryId),
        DefaultOptionLabel = "Select",        
        SelectedValue = Model.CategoryId?.ToString(),
        Options = (Model.Categories ?? new List<Category>())
                .Select(c => new DropdownOption {
                    Id = c.Id.ToString(),
                    Name = c.Name
                })
                .ToList()
    })

    <button type="submit" class="btn btn-success w-100">
        @(Model.Id.HasValue ? "Save" : "Create")
    </button>
</form>