@using Eventflow.ViewModels
@model InvitePageViewModel

@{
    Layout = "~/Views/Shared/_CalendarLayout.cshtml";
    ViewData["Title"] = "My Invites";
}

<div class="container">
    <div class="row align-items-center mb-4">
    <div class="col-md-9 d-flex justify-content-center">
        <h4 class="mb-0">My Invites</h4>
    </div>

    <div class="col-md-3">
        <form method="get" asp-controller="Invite" asp-action="Index">
            @await Component.InvokeAsync("Dropdown", new DropdownViewModel {
                Label = "Status",
                Name = "statusId",
                Id = "statusId",
                DefaultOptionLabel = null,
                SelectedValue = Model.CurrentStatus.ToString(),
                Options = Model.StatusOptions
            })
        </form>
    </div>
</div>

    @if (!Model.Invites.Any())
    {
        <p class="text-muted">No invites found.</p>
    }
    else
    {
        foreach (var invite in Model.Invites)
        {
            @await Html.PartialAsync("~/Views/Shared/Partials/Invite/_InviteCardPartial.cshtml", invite)
        }
    }
</div>