@using Eventflow.Domain.Models.ViewModels
@model CalendarNavigationViewModel

<div class="d-flex justify-content-between align-items-center mt-4">
    <a href="?month=@Model.PrevMonth&year=@Model.PrevYear" class="btn btn-outline-secondary">«</a>
    <a href="?month=@Model.NextMonth&year=@Model.NextYear" class="btn btn-outline-secondary">»</a>
</div>
