@using Eventflow.Application.Services.Interfaces
@using Eventflow.ViewModels
@using static Eventflow.Utilities.SessionHelper;
@using Eventflow.ViewModels.Shared.Component;
@model SidebarViewModel

<div class="d-flex flex-column h-100 sidebar-inner">
    <div class="sidebar-content flex-grow-1 d-flex flex-column justify-content-between">

        @await Html.PartialAsync("~/Views/Shared/Partials/Sidebar/_SidebarProfile.cshtml", Model)
        @await Html.PartialAsync("~/Views/Shared/Partials/Sidebar/_SidebarControls.cshtml", Model)

    </div>

    @await Html.PartialAsync("~/Views/Shared/Partials/Sidebar/_SidebarFooter.cshtml", Model)
</div>

@if (Model.Context == "Calendar")
{
    <script src="~/js/country_dropdown_select.js"></script>
}
