@model Eventflow.Domain.Models.ViewModels.CalendarViewModel;

<div style="min-height: 300px">
    <table class="table table-bordered text-center align-middle">
        <thead class="table-primary">
            <tr>
                <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
            </tr>
        </thead>
        <tbody>
        @{
            int col = 0;
        }

        @foreach (var day in Model.Days)
        {
            if (col == 0)
            {
                @:<tr>
            }

            bool isToday = day.DayNumber.HasValue && day.IsToday;

            string tdClass = isToday
                ? "align-top p-2 bg-success-subtle border border-success text-success"
                : "align-top p-2";

            <td class="@tdClass" style="min-height: 100px;">
                @if (day.DayNumber.HasValue)
                {
                    <div class="fw-bold">@day.DayNumber</div>
                }
                else
                {
                    <div class="invisible">0</div>
                }
            </td>

            col++;
            if (col == 7)
            {
                @:</tr>
                col = 0;
            }
        }
        </tbody>
    </table>
</div>

